{% extends 'base.html.twig' %}

{% block body %}

    <div id="candidaturas-header">
        {% include 'default/header.html.twig'   with {'selected_menu': 'homepage'} %}
    </div>

    <!-- tables -->
    <section id="default" class="component">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h4>{% trans %}votacoes_lista_title{% endtrans %}</h4>
                </div>
            </div>
        </div>

        <div class="tab-content" id="component-1">
            <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                <div class="component-example">

                    <div class="container">
                        <div class="row">
                            <div class="col">

                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-success">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}


                                {% set candidaturas_votadas = [] %}

                                {% if votacoes|length > 0 %}

                                    <h4>{% trans %}votacoes_lista_votadas{% endtrans %}</h4>
                                    <table class="table table-lined">
                                        <thead>
                                            <tr>
                                                {#<th scope="col">Id</th>#}
                                                <th>{% trans %}votacoes_lista_categoria{% endtrans %}</th>
                                                <th>{% trans %}votacoes_lista_promotor_nome{% endtrans %}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for votacao in votacoes %}
                                                {% set candidaturas_votadas = candidaturas_votadas|merge([votacao.candidatura.id]) %}
                                                <tr>
                                                    {#<td>{{ votacao.id }}</td>#}
                                                    <td>{{ votacao.candidatura.categoria | striptags }}</td>
                                                    <td>{{ votacao.candidatura.promotorNome }}</td>
                                                    <td><a href="{{ path('admin_votacao_edit', { 'id': votacao.id }) }}">{% trans %}botao_editar{% endtrans %}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <br/><br/>

                                {% endif %}


                                {% if votacoes|length != candidaturas|length %}

                                    <h4>{% trans %}votacoes_lista_nao_votadas{% endtrans %}</h4>
                                    <table class="table table-lined">
                                        <thead>
                                            <tr>
                                                {#<th scope="col">Id</th>#}
                                                <th>{% trans %}votacoes_lista_categoria{% endtrans %}</th>
                                                <th>{% trans %}votacoes_lista_promotor_nome{% endtrans %}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for candidatura in candidaturas %}
                                                {% if candidatura.id not in candidaturas_votadas %}
                                                    <tr>
                                                        {#<td>{{ candidatura.id }}</td>#}
                                                        <td>{{ candidatura.categoria | striptags }}</td>
                                                        <td>{{ candidatura.promotorNome }}</td>
                                                        <td><a href="{{ path('admin_votacao_new', { 'candidatura': candidatura.id }) }}">{% trans %}botao_criar{% endtrans %}</a></td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                {% endif %}



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- / table -->


{% endblock %}
