{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votacaos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for votacao in votacaos %}
            <tr>
                <td><a href="{{ path('admin_votacao_show', { 'id': votacao.id }) }}">{{ votacao.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_votacao_show', { 'id': votacao.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_votacao_edit', { 'id': votacao.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>
        <li>
            <a href="{{ path('admin_votacao_new') }}">Create a new votacao</a>
        </li>
    </ul>#}
{% endblock %}
