{% extends 'base.html.twig' %}

{% block body %}

    <div id="candidaturas-header">
        {% include 'default/header.html.twig'   with {'selected_menu': 'homepage'} %}
    </div>

    <!-- tables -->
    <section id="default" class="component">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h4>Lista de resultados das votações</h4>
                </div>
            </div>
        </div>

        <div class="tab-content" id="component-1">
            <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                <div class="component-example">

                    <div class="container">
                        <div class="row">
                            <div class="col">

                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-success">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}





                                <h4>Resultados</h4>
                                <table class="table table-lined">
                                    <thead>
                                        <tr>
                                            <th>Categoria</th>
                                            <th>Promotor</th>
                                            <th>Pontuação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for candidatura in candidaturas %}
                                            {% set total = 0 %}
                                            <tr>
                                                <td>{{candidatura.categoria | striptags }}</td>
                                                <td>{{candidatura.promotorNome}}</td>
                                                <td>
                                                    {% for resposta in candidatura.respostas %}
                                                        {{resposta.criterio}}<br/>
                                                        {% for voto in resposta.votos %}
                                                            {{voto.votacao.fosUser}} : {{voto.valor}} pontos<br/>
                                                            
                                                            {% set total = total + voto.valor %}
                                                        {% endfor %}  
                                                        <br/>
                                                    {% endfor %} 
                                                    
                                                    <b>total = </b>{{total}}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- / table -->


{% endblock %}
