<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Hospitality Education Awards - Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/vendor.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/style.css') }}" />

            <style>
                html {
                    scroll-behavior: smooth;
                }

                .form-group label{
                    color: black;
                }




            </style>

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/assets/images/favicon3.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/assets/images/favicon2.png') }}" />



<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '624599574674412'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=624599574674412&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>
<body>



    {% block body %}

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/app/assets/js/vendor.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/app.js') }}"></script>






    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139906534-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-139906534-1');
    </script>




</body>
</html>
