{% extends 'base.html.twig' %}

{% block body %}

    {% include 'default/header.html.twig'   with {'selected_menu': 'homepage'} %}

    <!-- form controls -->
    <section id="default" class="component">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    {% if app.request.locale == 'pt' %}
                        <h4>{{categoria.tituloPt}} {#- {% trans %}candidaturas_criar_title{% endtrans %}#}</h4>
                    {% else %}
                        <h4>{{categoria.tituloEn}} {#- {% trans %}candidaturas_criar_title{% endtrans %}#}</h4>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-content" id="component-1">
            <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                <div class="component-example">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                
                                
                                {% if app.request.locale == 'pt' %}
                                    <p>{{categoria.descricaoPt| raw}}</p>
                                {% else %}
                                    <p>{{categoria.descricaoEn| raw}}</p>
                                {% endif %}
                                
                                {{ form_start(edit_form) }}


                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-success">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}

                                <div class="form-group">
                                    {{ form_label(edit_form.promotorNome) }}
                                    {{ form_errors(edit_form.promotorNome) }}
                                    {{ form_widget(edit_form.promotorNome, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.promotorProjecto) }}
                                    {{ form_errors(edit_form.promotorProjecto) }}
                                    {{ form_widget(edit_form.promotorProjecto, {'attr': {'class': 'form-control'}}) }}
                                </div>


                                <style>

                                    .vich-image img{
                                        max-height: 200px;
                                    }

                                </style>


                                <div class="form-group">
                                    {{ form_label(edit_form.imagemFile) }}
                                    {{ form_errors(edit_form.imagemFile) }}
                                    {{ form_widget(edit_form.imagemFile, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.promotorEmail) }}
                                    {{ form_errors(edit_form.promotorEmail) }}
                                    {{ form_widget(edit_form.promotorEmail, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.promotorTelefone) }}
                                    {{ form_errors(edit_form.promotorTelefone) }}
                                    {{ form_widget(edit_form.promotorTelefone, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.promotorDescricaoPt) }}
                                    {{ form_errors(edit_form.promotorDescricaoPt) }}
                                    {{ form_widget(edit_form.promotorDescricaoPt, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.promotorDescricaoEn) }}
                                    {{ form_errors(edit_form.promotorDescricaoEn) }}
                                    {{ form_widget(edit_form.promotorDescricaoEn, {'attr': {'class': 'form-control'}}) }}
                                </div>



                                <div class="form-group">
                                    {{ form_label(edit_form.cvFile) }}
                                    {{ form_errors(edit_form.cvFile) }}
                                    {{ form_widget(edit_form.cvFile, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                {# iterate over each existing tag and render its only field: name #}
                                {#{% for resposta in edit_form.respostas %}
                                    <div class="form-group">
                                        {% if app.request.locale == 'pt' %}
                                            {{ resposta.vars.value.criterio.tituloPt}}
                                        {% else %}
                                            {{ resposta.vars.value.criterio.tituloEn}}
                                        {% endif %}
                                        {{ form_errors(resposta.texto) }}
                                        {{ form_widget(resposta.texto, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endfor %}#}


                                {% for resposta in edit_form.respostas %}

                                    {% if resposta.vars.value.criterio.isApenasVotacao == false %}

                                        <div class="form-group">
                                            {% if app.request.locale == 'pt' %}
                                                {{ resposta.vars.value.criterio.tituloPt}}
                                            {% else %}
                                                {{ resposta.vars.value.criterio.tituloEn}}
                                            {% endif %}

                                            {{ form_errors(resposta.texto) }}
                                            {{ form_widget(resposta.texto, {'attr': {'class': 'form-control'}}) }}
                                        </div>

                                        
                                        {% else %}
                                            <div style="display: none;">
                                            {{ form_widget(resposta.texto, {'value' : '--'}, {'attr': { 'class': 'form-control'}}) }}
                                         </div>
                                        {% endif %}
                                   
                                {% endfor %}
                                
                                
                                
                                
                                
                                
                                
                                
                                <div class="form-group">
                                    {{ form_label(edit_form.documentoFile) }}
                                    {{ form_errors(edit_form.documentoFile) }}
                                    {{ form_widget(edit_form.documentoFile, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <hr/>

                                <button type="submit" class="btn btn-primary">{% trans %}botao_actualizar{% endtrans %}</button>
                                {{ form_end(edit_form) }}

                                <ul>
                                    <li>
                                        <a href="{{ path('admin_candidatura_index') }}">{% trans %}botao_voltar{% endtrans %}</a>
                                    </li>

                                    <li>
                                        {{ form_start(delete_form) }}
                                        <input type="submit" value="{% trans %}botao_eliminar{% endtrans %}">
                                        {{ form_end(delete_form) }}
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section>




{% endblock %}
