{% extends 'base.html.twig' %}

{% block body %}

    <div id="candidaturas-header">
        {% include 'default/header.html.twig'   with {'selected_menu': 'homepage'} %}
    </div>

    <!-- form controls -->
    <section id="default" class="component">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">

                    {% if app.request.locale == 'pt' %}
                        <h4>{{categoria.tituloPt| striptags }} {#- {% trans %}candidaturas_criar_title{% endtrans %}#}</h4>
                    {% else %}
                        <h4>{{categoria.tituloEn| striptags }} {#- {% trans %}candidaturas_criar_title{% endtrans %}#}</h4>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="tab-content" id="component-1">
            <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                <div class="component-example">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                {% if app.request.locale == 'pt' %}
                                    <p>{{categoria.descricaoInternaPt| raw}}</p>
                                {% else %}
                                    <p>{{categoria.descricaoInternaEn| raw}}</p>
                                {% endif %}

                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="alert alert-error">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}

                                {{ form_start(form) }}

                                <div class="form-group">
                                    {% if categoria.id == 1 or categoria.id == 3 %}
                                        {% trans %}input_one_project_responsible{% endtrans %}
                                    {% elseif categoria.id == 4 or categoria.id == 5 %}
                                        {% trans %}input_one_teacher{% endtrans %}
                                    {% elseif categoria.id == 6 %}
                                        {% trans %}input_one_responsible{% endtrans %}
                                    {% else %}
                                        {{ form_label(form.promotorNome) }}
                                    {% endif %}
                                    {{ form_errors(form.promotorNome) }}
                                    {{ form_widget(form.promotorNome, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {% if categoria.id == 1 or categoria.id == 3 %}
                                        {% trans %}input_two_project_name{% endtrans %}
                                    {% elseif categoria.id == 4 or categoria.id == 5 %}
                                        {% trans %}input_two_institution{% endtrans %}
                                    {% elseif categoria.id == 6 %}
                                        {% trans %}input_two_entity{% endtrans %}
                                    {% else %}
                                        {{ form_label(form.promotorProjecto) }}
                                    {% endif %}
                                    {{ form_errors(form.promotorProjecto) }}
                                    {{ form_widget(form.promotorProjecto, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {% if categoria.id == 1 or categoria.id == 3 %}
                                        {% trans %}input_three_project_email{% endtrans %}
                                    {% elseif categoria.id == 4 or categoria.id == 5 %}
                                        {% trans %}input_three_teacher_email{% endtrans %}
                                    {% elseif categoria.id == 6 %}
                                        {% trans %}input_three_responsible_email{% endtrans %}
                                    {% else %}
                                        {{ form_label(form.promotorEmail) }}
                                    {% endif %}
                                    {{ form_errors(form.promotorEmail) }}
                                    {{ form_widget(form.promotorEmail, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {% if categoria.id == 1 or categoria.id == 3 %}
                                        {% trans %}input_four_project_phone{% endtrans %}
                                    {% elseif categoria.id == 4 or categoria.id == 5 %}
                                        {% trans %}input_four_teacher_phone{% endtrans %}
                                    {% elseif categoria.id == 6 %}
                                        {% trans %}input_four_responsible_phone{% endtrans %}
                                    {% else %}
                                        {{ form_label(form.promotorTelefone) }}
                                    {% endif %}
                                    {{ form_errors(form.promotorTelefone) }}
                                    {{ form_widget(form.promotorTelefone, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                {% if categoria.id == 1 or categoria.id == 3 %}

                                    <div class="form-group">
                                        {% trans %}input_five_project_resume_pt{% endtrans %}
                                        {{ form_errors(form.promotorDescricaoPt) }}
                                        {{ form_widget(form.promotorDescricaoPt, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {% trans %}input_five_project_resume_en{% endtrans %}
                                        {{ form_errors(form.promotorDescricaoEn) }}
                                        {{ form_widget(form.promotorDescricaoEn, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                {% else %}

                                    {{ form_widget(form.promotorDescricaoPt, {'attr': {'class': 'd-none'}}) }}
                                    {{ form_widget(form.promotorDescricaoEn, {'attr': {'class': 'd-none'}}) }}

                                {% endif %}

                                <div class="form-group">
                                    {% if categoria.id == 1 or categoria.id == 3 %}
                                       {% trans %}input_five_project_logo{% endtrans %}
                                    {% elseif categoria.id == 4 or categoria.id == 5 %}
                                        {% trans %}input_five_teacher_photo{% endtrans %}
                                    {% elseif categoria.id == 6 %}
                                        {% trans %}input_five_business_logo{% endtrans %}
                                    {% else %}
                                        {{ form_label(form.imagemFile) }}
                                    {% endif %}
                                    {{ form_errors(form.imagemFile) }}
                                    {{ form_widget(form.imagemFile, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="form-group">
                                    {% if categoria.id == 4 or categoria.id == 5 %}
                                        {% trans %}input_six_teacher_cv{% endtrans %}
                                        {{ form_errors(form.cvFile) }}
                                        {{ form_widget(form.cvFile, {'attr': {'class': 'form-control'}}) }}
                                    {% else %}
                                        {{ form_widget(form.cvFile.file, {'attr': {'class': 'd-none'}}) }}
                                    {% endif %}
                                </div>

                                {# iterate over each existing tag and render its only field: name #}
                                {% for resposta in form.respostas %}

                                    {% if resposta.vars.value.criterio.isApenasVotacao == false %}

                                        <div class="form-group">
                                            {% if app.request.locale == 'pt' %}
                                                {{ resposta.vars.value.criterio.tituloPt}}
                                            {% else %}
                                                {{ resposta.vars.value.criterio.tituloEn}}
                                            {% endif %}

                                            {{ form_errors(resposta.texto) }}
                                            {{ form_widget(resposta.texto, {'attr': {'class': 'form-control'}}) }}
                                        </div>


                                    {% else %}
                                        <div style="display: none;">
                                            {{ form_widget(resposta.texto, {'value' : '--'}, {'attr': { 'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                {% endfor %}

                                <div class="form-group">
                                    {{ form_label(form.documentoFile) }}
                                    {{ form_errors(form.documentoFile) }}
                                    {{ form_widget(form.documentoFile, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <hr/>

                                <button type="submit" class="btn btn-primary">{% trans %}botao_guardar{% endtrans %}</button>
                                {{ form_end(form) }}

                                <ul>
                                    <li>
                                        <a href="{{ path('admin_candidatura_index') }}">{% trans %}botao_voltar{% endtrans %}</a>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section>

    <script>

        var appbundle_candidatura_imagemFile_file = document.getElementById("appbundle_candidatura_imagemFile_file");

        appbundle_candidatura_imagemFile_file.onchange = function () {
            if (this.files[0].size > 10000000) {
                alert("O LOGOTIPO DO PROJETO/FOTOGRAFIA DO CANDIDATO é muito grande. O tamanho máximo permitido é de 10MB!");
                this.value = "";
            }
            ;
        };



        var appbundle_candidatura_cvFile_file = document.getElementById("appbundle_candidatura_cvFile_file");

        appbundle_candidatura_cvFile_file.onchange = function () {
            if (this.files[0].size > 10000000) {
                alert("O CURRICULUM VITAE é muito grande. O tamanho máximo permitido é de 10MB!");
                this.value = "";
            }
            ;
        };

        var appbundle_candidatura_documentoFile_file = document.getElementById("appbundle_candidatura_documentoFile_file");

        appbundle_candidatura_documentoFile_file.onchange = function () {
            if (this.files[0].size > 10000000) {
                alert("O DOCUMENTO COMPLEMENTAR é muito grande. O tamanho máximo permitido é de 10MB!");
                this.value = "";
            }
            ;
        };

    </script>



{% endblock %}
