<section id="categories" class="bg-light">

    <div class="container">

        <h1 class="title text-center text-uppercase mb-5">{% trans %}categoriesTitle{% endtrans %} <span>Hea</span></h1>

        <div class="row">

        {% for categoria in categorias %}

                <div class="col-12 col-lg-4 mb-4 text-center">

                    <div class="img-container d-flex align-items-end justify-content-center">
                        <img src="{{ vich_uploader_asset(categoria, 'imagemFile') }}" alt="categorieImage">
                    </div>

                    <div class="text-container">
                        {% if app.request.locale == 'pt' %}
                            <h3 class="h2">{{ categoria.tituloPt | raw }}</h3>
                        {% else %}
                            <h3 class="h2">{{ categoria.tituloEn | raw }}</h3>
                        {% endif %}

                        {% if app.request.locale == 'pt' %}
                            <p class="mb-2">{{ categoria.descricaoPt | slice(0, 120) }} ...</p>
                        {% else %}
                            <p class="mb-2">{{ categoria.descricaoEn | slice(0, 120) }}</p>
                        {% endif %}

                        {% if categoria.isSemCandidatura == 0 %}
                            <a href="{{ path('admin_candidatura_new', { 'categoria': categoria.id } ) }}" class="categories-button text-uppercase">> <span>{% trans %}categories_Watch Now{% endtrans %}</span> <</a>
                        {% endif %}
                    </div>

                </div>

        {% endfor %}

        </div>

    </div>

</section>
