<section id="gallery" class="bg-light">
    <div class="container gallery">

        <h1 class="title text-center text-uppercase mb-4">{% trans %}gallery_Modern interiors{% endtrans %}</h1>

        <p class="title text-center text-uppercase mb-5">{% trans %}gallery_Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endtrans %}</p>

        <div class="row mb-1" data-aos="fade-left">
            <div class="col-10">
                <div class="owl-carousel visible align-bottom" autoHeight="false" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true">
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/5.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/5.jpg') }});">
                        </a>
                    </figure>
                   
                        <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/3.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/3.jpg') }});">
                        </a>
                    </figure>
                        
                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/1.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/1.jpg') }});">
                        </a>
                    </figure>
                        
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/4.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/4.jpg') }});">
                        </a>
                    </figure>
                     
                        
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/6.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/6.jpg') }});">
                        </a>
                    </figure>

                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/2.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/2.jpg') }});">
                        </a>
                    </figure>

                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/13.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/13.jpg') }});">
                        </a>
                    </figure>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-end" data-aos="fade-right">
            <div class="col-10">
                <div class="owl-carousel visible" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true" data-rtl="true">

                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/7.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/7.jpg') }});">
                        </a>
                    </figure>

                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/9.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/9.jpg') }});">
                        </a>
                    </figure>
                        
                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/8.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/8.jpg') }});">
                        </a>
                    </figure>
                        
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/10.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/10.jpg') }});">
                        </a>
                    </figure>

                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/11.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/11.jpg') }});">
                        </a>
                    </figure>

                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/12.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/12.jpg') }});">
                        </a>
                    </figure>

                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/gallery2019/14.jpg') }}"
                           style="background-image: url({{ asset('bundles/app/assets/images/gallery2019/14.jpg') }});">
                        </a>
                    </figure>
                    
                </div>
            </div>
        </div>

    </div>
</section>


