
<!-- gallery -->
<section id="gallery" class="bg-light">
    <div class="container gallery">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2><b>{% trans %}gallery_Modern interiors{% endtrans %}</b> {#{% trans %}gallery_for a better experience.{% endtrans %}#}</h2>
                <p>{% trans %}gallery_Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endtrans %}</p>
            </div>
        </div>
        <div class="row mb-1" data-aos="fade-left">
            <div class="col-10">
                <div class="owl-carousel visible align-bottom" autoHeight="false" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true">
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/001.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/001.jpg') }});">
                        </a>
                    </figure>
                   
                        <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/007.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/007.jpg') }});">
                        </a>
                    </figure>
                        
                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/004.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/004.jpg') }});">
                        </a>
                    </figure>
                        
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/003.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/003.jpg') }});">
                        </a>
                    </figure>
                     
                        
                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/005.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/005.jpg') }});">
                        </a>
                    </figure>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-end" data-aos="fade-right">
            <div class="col-10">
                <div class="owl-carousel visible" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true" data-rtl="true">
                    <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/006.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/006.jpg') }});">
                        </a>
                    </figure>
                    
                        
                            <figure class="photo equal ">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/002.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/002.jpg') }});">
                        </a>
                    </figure>
                        
                        <figure class="photo equal equal-short">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/010.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/010.jpg') }});">
                        </a>
                    </figure>
                  
                    <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/009.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/009.jpg') }});">
                        </a>
                    </figure>
                        
                          <figure class="photo equal">
                        <a href="{{ asset('bundles/app/assets/images/demo/gallery/008.jpg') }}" 
                           style="background-image: url({{ asset('bundles/app/assets/images/demo/gallery/008.jpg') }});">
                        </a>
                    </figure>
                    
                    
                </div>
            </div>
        </div>
        {#<div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-rounded btn-with-ico btn-green">View All Photos <i class="icon-chevron-right2 fs-24"></i></button>
          </div>
        </div>#}
    </div>
</section>
<!-- / gallery -->


