
    <!-- gallery -->
    <section id="gallery" class="bg-light">
      <div class="container gallery">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h2><b>{% trans %}gallery_Modern interiors{% endtrans %}</b> {#{% trans %}gallery_for a better experience.{% endtrans %}#}</h2>
            <p>{% trans %}gallery_Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endtrans %}</p>
          </div>
        </div>
        <div class="row mb-1" data-aos="fade-left">
          <div class="col-10">
            <div class="owl-carousel visible align-bottom" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true">
              <figure class="photo equal equal-short">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-1.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-1.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-4.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-4.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal equal-short">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-1.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-1.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-4.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-4.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal equal-short">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-1.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-1.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-4.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-4.jpg') }});">
                </a>
              </figure>
            </div>
          </div>
        </div>
        <div class="row justify-content-end" data-aos="fade-right">
          <div class="col-10">
            <div class="owl-carousel visible" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true" data-rtl="true">
              <figure class="photo equal equal-short">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-7.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-7.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-8.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-8.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal equal-short">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-9.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-9.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-7.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-7.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal equal-short">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-8.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-8.jpg') }});">
                </a>
              </figure>
              <figure class="photo equal">
                <a href="{{ asset('bundles/app/assets/images/demo/coworking/coworking-small-9.jpg') }}" 
                  style="background-image: url({{ asset('bundles/app/assets/images/demo/coworking/coworking-small-9.jpg') }});">
                </a>
              </figure>
            </div>
          </div>
        </div>
        {#<div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-rounded btn-with-ico btn-green">View All Photos <i class="icon-chevron-right2 fs-24"></i></button>
          </div>
        </div>#}
      </div>
    </section>
    <!-- / gallery -->

        
        