{# empty Twig template #}
<!-- header -->
<header class="header-sticky header-light bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img class="navbar-logo navbar-logo-light" src="{{ asset('bundles/app/assets/images/demo/logo/logo-light.svg') }}" alt="Logo">
                <img class="navbar-logo navbar-logo-dark" src="{{ asset('bundles/app/assets/images/demo/logo/logo-dark.svg') }}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="burger"><span></span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav align-items-center mr-auto">
                    {#<li class="nav-item">
                        <a class="nav-link" href="#cover" role="button">
                            Home
                        </a>
                    </li>#}

                    <li class="nav-item">
                        <a class="nav-link" href="#categories" role="button">
                            {% trans %}header_Categories{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#schedule" role="button">
                            {% trans %}header_Schedule{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#gallery" role="button">
                            {% trans %}header_Gallery{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials" role="button">
                            {% trans %}header_Testimonials{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#blog" role="button">
                            {% trans %}header_Blog{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact" role="button">
                            {% trans %}header_Contact{% endtrans %}
                        </a>
                    </li>
                </ul>


                {% if app.user %}
                    {#user is logged in#}
                    <ul class="navbar-nav align-items-center mr-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{app.user}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('admin_candidatura_index') }}">{% trans %}menu_Candidaturas{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('admin_categoria_index') }}">{% trans %}menu_Categorias{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('admin_criterio_index') }}">{% trans %}menu_Critérios{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('admin_parceiro_index') }}">{% trans %}menu_Parceiros{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('admin_votacao_index') }}">{% trans %}menu_Votações{% endtrans %}</a>

{#                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../app/profile.html">Public Profile</a>
                                <a class="dropdown-item" href="../app/settings.html">Settings</a>#}

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{% trans %}menu_Logout{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    {#user is not logged in#}
                    <ul class="navbar-nav align-items-center mr-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{% trans %}menu_Sign Up{% endtrans %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">{% trans %}menu_Sign in{% endtrans %}</a>
                        </li>
                    </ul>
                {% endif %}


            </div>
        </nav>
    </div>
</header>
<!-- header -->