<header class="header-sticky header-light">

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light text-uppercase">

            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img class="navbar-logo navbar-logo-light" src="{{ asset('bundles/app/assets/images/demo/logo/logo-light.svg') }}" alt="Logo">
                <img class="navbar-logo navbar-logo-dark" src="{{ asset('bundles/app/assets/images/demo/logo/logo-dark.svg') }}" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="burger"><span></span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav align-items-center mx-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}#categories" role="button" >
                            {% trans %}header_Categories{% endtrans %}
                        </a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}#regulation" role="button">
                            {% trans %}header_Regulation{% endtrans %}
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}#regulation" role="button">
                            {% trans %}header_Schedule{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link yellow-text" href="{{ path('fos_user_security_login') }}" role="button">
                            {% trans %}header_apply{% endtrans %}
                        </a>
                    </li>

                </ul>

                {% if app.user %}
                    {#user is logged in#}
                    <ul class="navbar-nav align-items-center mr-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{app.user}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('admin_candidatura_index') }}">{% trans %}menu_Candidaturas{% endtrans %}</a>
                                
                                {% if is_granted('ROLE_ADMIN') %} 
                                <a class="dropdown-item" href="{{ path('admin_categoria_index') }}">{% trans %}menu_Categorias{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('admin_criterio_index') }}">{% trans %}menu_Critérios{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('admin_parceiro_index') }}">{% trans %}menu_Parceiros{% endtrans %}</a>
                                {% endif %}
                                
                                
                                {% if is_granted('ROLE_JURI') %} 
                                <a class="dropdown-item" href="{{ path('admin_votacao_index') }}">{% trans %}menu_Votações{% endtrans %}</a>
                                {% endif %}
                                
                                {% if is_granted('ROLE_ADMIN') %} 
                                <a class="dropdown-item" href="{{ path('admin_votacao_resultados') }}">{% trans %}Resultados{% endtrans %}</a>
                                {% endif %}
                                
                                <a class="dropdown-item" href="{{ path('admin_candidatura_nomeadas') }}">Nomeadas</a>
                                
                                

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{% trans %}menu_Logout{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    {#user is not logged in#}
                    <ul class="navbar-nav align-items-center mr-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link py-0 border-right text-bolder" href="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        <li class="nav-item dropdown ml-0">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    </ul>
                {% endif %}

                <ul class="navbar-nav align-items-center mr-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.request.locale|upper }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('homepage', {'_locale':'pt' }) }}">PT</a>
                            <a class="dropdown-item" href="{{ path('homepage', {'_locale':'en' }) }}">EN</a>
                        </div>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

</header>