<section id="regulation">

  <div class="container">

    <h1 class="title text-center text-uppercase mb-5">{% trans %}regulation_title{% endtrans %} <span>Hea</span></h1>

    <div class="row regulation-content d-flex align-items-center justify-content-around">
      <div class="col-12 col-md-7 col-lg-6 d-md-flex text-center text-md-left">
        <img src="{{ asset('bundles/app/assets/images/others2019/hea-regulamento.svg') }}" alt="image" class="mb-3 mb-md-0 mx-auto d-block">
        <div class="regulation-text ml-md-2">
          <h4 class="text-uppercase">{% trans %}downloadFase1{% endtrans %}
            <a href="{% if app.request.locale == 'pt' %} {{ asset('bundles/app/assets/files/HEA20_Regulamento_PT.pdf') }} {% else %} {{ asset('bundles/app/assets/files/HEA20_Regulamento_EN.pdf') }} {% endif %}" download>download</a> {% trans %}downloadFase2{% endtrans %}
          </h4>
          <p>{% trans %}downloadDesc{% endtrans %}</p>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-4 text-center text-md-left">
        <a target="_blank" href="{% if app.request.locale == 'pt' %} {{ asset('bundles/app/assets/files/HEA20_Regulamento_PT.pdf') }} {% else %} {{ asset('bundles/app/assets/files/HEA20_Regulamento_EN.pdf') }} {% endif %}" class="text-uppercase">> <span>{% trans %}btnRegulation{% endtrans %}</span> <</a>
      </div>
    </div>

    <div id="schedule" class="row schedule-hours-container">

      <div class="col col-md-3 px-0">
        <p class="text-center text-uppercase mb-0">{% trans %}date1{% endtrans %}</p>
        <div class="schedule-circle-container">
          <div class="schedule-circle"></div>
        </div>
        <h2 class="text-center text-uppercase">{% trans %}date1desc{% endtrans %}</h2>
      </div>

      <div class="col col-md-3 px-0">
        <p class="text-center text-uppercase mb-0">{% trans %}date2{% endtrans %}</p>
        <div class="schedule-circle-container">
          <div class="schedule-circle"></div>
        </div>
        <h2 class="text-center text-uppercase">{% trans %}date2desc{% endtrans %}</h2>
      </div>

      <div class="col col-md-3 px-0">
        <p class="text-center text-uppercase mb-0">{% trans %}date3{% endtrans %}</p>
        <div class="schedule-circle-container">
          <div class="schedule-circle"></div>
        </div>
        <h2 class="text-center text-uppercase">{% trans %}date3desc{% endtrans %}</h2>
      </div>

      <div class="col col-md-3 px-0">
        <p class="text-center text-uppercase mb-0">{% trans %}date4{% endtrans %}</p>
        <div class="schedule-circle-container">
          <div class="schedule-circle"></div>
        </div>
        <h2 class="text-center text-uppercase">{% trans %}date4desc{% endtrans %}</h2>
      </div>

    </div>

    <h1 class="title text-center text-uppercase mb-5">{% trans %}juris_title{% endtrans %}</h1>

    <div class="col juris align-items-center">
      <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
        {% for juri in juris %}
          <div class="logo">
            <img src="{{ vich_uploader_asset(juri, 'imagemFile') }}" alt="{{ juri.nome }}" />
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

</section>