{# empty Twig template #}
 <!-- user carousel -->
    <section id="" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2>Our Speakers</h2>
          </div>
          <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae esse rem nesciunt quos, porro ratione reprehenderit unde fuga commodi incidunt fugiat iure omnis eaque autem animi nemo explicabo cum earum.</p>
          </div>
        </div>
        <div class="row" data-aos="fade-left">
          <div class="col">
            <div class="owl-carousel visible" data-items="[3]" data-nav="true" data-margin="10">
              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-1.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Nicole Doe</h4>
                  <span>Head of Experience Design</span>
                  
                  <ul  class="socials bordered">
                      <li><a href="" class="btn btn-primary">Candidatar</a></li>
                  </ul>
                  
                  
                  {#<ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>#}
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-2.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Valerie Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-3.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Michael Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-4.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>John Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-5.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Valerie Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-6.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Ariana Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-7.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Josh Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{{ asset('bundles/app/assets/images/demo/user-8.jpg') }}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>Richard Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / user carousel -->