{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}

    <h1>Alterar Password</h1>

    <hr/>

    {% block form_errors %}
        {% spaceless %}
            {% if errors is defined and errors|length > 0 %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">{{ error.message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endblock form_errors %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="form-group row">
        <label class="col-form-label col-sm-2 required" for=""></label>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary" value="Actualizar" />
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}