{% extends 'base.html.twig' %}

{% block body %}

    {% include 'default/header.html.twig'   with {'selected_menu': 'homepage'} %}



    <!-- tables -->
    <section id="default" class="component">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h4>Categorias lista</h4>
                </div>
            </div>
        </div>

        <div class="tab-content" id="component-1">
            <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                <div class="component-example">


                    <div class="container">
                        <div class="row">
                            <div class="col">
                                
                                
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-success">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}
                                
                                
                                <table class="table table-lined">
                                    <thead>
                                        <tr>
                                             <th scope="col">Id</th>
                                            <th scope="col">Titulopt</th>
                                            <th scope="col">Descricaopt</th>
                                            <th scope="col">Imagem</th>
                                            <th scope="col">Acções</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for categoria in categorias %}
                                            <tr>
                                                <th scope="row">{{ categoria.id }}</th>
                                                <th scope="row">{{ categoria.tituloPt }}</th>
                                                <td>{{ categoria.descricaoPt }}</td>
                                                <td><img src="{{ vich_uploader_asset(categoria, 'imagemFile') }}" alt="{{ categoria.tituloPt }}" /></td>
                                                <td>
                                                    <ul>
                                                       {# <li>
                                                            <a href="{{ path('admin_categoria_show', { 'id': categoria.id }) }}">show</a>
                                                        </li>#}
                                                        <li>
                                                            <a href="{{ path('admin_categoria_edit', { 'id': categoria.id }) }}">editar</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                                <ul>
                                    <li>
                                        <a href="{{ path('admin_categoria_new') }}">Categorias criar</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section>
    <!-- / table -->


{% endblock %}
