{% trans_default_domain 'FOSUserBundle' %}

{#{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}#}

{#<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
#}



<!-- START Login Right Container-->
<div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

        
         <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    {#
                    
                    comentei porque já está na pagina de login, logo nao faz sentido ter o link para login.
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                {% endif %}
            </div>

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        
        
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        {#<img src="{{ asset('bundles/app/backend/assets/img/logo.png') }}" alt="logo" data-src="{{ asset('bundles/app/backend/assets/img/logo.png') }}" data-src-retina="{{ asset('bundles/app/backend/assets/img/logo_2x.png') }} width="78" height="22">#}
        <img src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/logo/logo-nb-ft-blue.png') }}" alt="logo" data-src="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/logo/logo-nb-ft-blue.png') }}" data-src-retina="{{ asset('bundles/app/frontend/v2/assets/img-parcelaja/logo/logo-nb-ft-blue.png') }}" >
        
        
        
        
        <p class="p-t-35">Sign into your Parcela Já account</p>
        <!-- START Login Form -->
        {#<form id="form-login" class="p-t-15" role="form" action="index.html">#}
        <form action="{{ path("fos_user_security_check") }}" id="form-login" class="p-t-15" role="form" method="post">

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <!-- START Form Control-->
            <div class="form-group form-group-default">
                <label>{{ 'security.login.username'|trans }}</label>
                <div class="controls">
                    {#<input type="text" name="username" placeholder="User Name" class="form-control" required>#}
                    <input type="text" id="username" name="_username" placeholder="User Name" class="form-control" value="{{ last_username }}" required="required" />
                </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
                <label>{{ 'security.login.password'|trans }}</label>
                <div class="controls">
                    {#<input type="password" class="form-control" name="password" placeholder="Credentials" required>#}
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Credentials" required="required" />
                </div>
            </div>
            <!-- START Form Control-->
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="checkbox ">
                        {#<input type="checkbox" value="1" id="checkbox1">#}
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <!-- END Form Control-->
            {#<button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>#}
            <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-cons m-t-10" value="{{ 'security.login.submit'|trans }}" />
        </form>
        <!--END Login Form-->
        {#<div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                <div class="col-sm-3 col-md-2 no-padding">
                    <img alt="" class="m-t-5" data-src="{{ asset('bundles/app/backend/assets/img/demo/pages_icon.png') }}" data-src-retina="{{ asset('bundles/app/backend/assets/img/demo/pages_icon_2x.png') }}" height="60" src="{{ asset('bundles/app/backend/assets/img/demo/pages_icon.png') }}" width="60">
                </div>
                <div class="col-sm-9 no-padding m-t-10">
                    <p>
                        <small>
                            Create a pages account. If you have a facebook account, log into it for this
                            process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>#}
    </div>
</div>
<!-- END Login Right Container-->


