<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Hospitality Education Awards - Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/vendor.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/style.css') }}" />
            <style>
                html {
                    scroll-behavior: smooth;
                }
                .cover {
                    position: relative;
                    height: 100vh;
                }

                .cover video {
                    position: fixed;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                }

                .cover .cover-overlay {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .5);
                }

                .navbar-brand {
                    height: auto;
                }

                .navbar-brand .navbar-logo {
                    width: 160px;
                    max-width: 160px;
                    min-width: 160px;
                    max-height: none;
                }

                .navbar-light .navbar-nav .nav-link.yellow-text {
                    color: #f5ca00;
                }

                .navbar-light .navbar-nav .nav-link {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 600;
                }

                .navbar-light .navbar-nav .nav-link:hover {
                    color: #fff;
                    opacity: .5;
                }

                .navbar-light .navbar-nav .nav-link.text-bolder {
                    font-weight: 600;
                }

                .header-light[class*="-not-top"][class*="-pinned"] .navbar-nav .nav-item .nav-link.yellow-text {
                    color: #f5ca00;
                }

                .navbar-light .navbar-nav .show > .nav-link {
                    color: #fff;
                }

                @font-face {
                    font-family: AvenirNext;
                    font-weight: 400;
                    src: url({{ asset('bundles/app/assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf') }});
                }

                @font-face {
                    font-family: AvenirNext;
                    font-weight: bold;
                    src: url({{ asset('bundles/app/assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf') }});
                }

                @font-face {
                    font-family: AvenirNext;
                    font-weight: 600;
                    src: url({{ asset('bundles/app/assets/fonts/AvenirNext/AvenirNextLTPro-Demi.otf') }});
                }


                * {
                    font-family: AvenirNext, sans-serif !important;
                }

                .security-container {
                    position: fixed;
                    width: 100%;
                    bottom: 0;
                    height: calc(100vh - 108.033px);
                }

                form input.form-control {
                    padding: .7rem;
                    line-height: 1;
                    height: auto;
                }

                form input.btn {
                    padding: .7rem;
                }

                .accordion-group-portal .accordion-control {
                    padding: 1rem 2rem;
                }

                form hr {
                    margin: 1rem 0;
                }

                .accordion-group-portal .accordion-content > div {
                    padding-bottom: 1rem;
                }

                @media (min-width: 1199.99px) {

                    header[class*="-light"] .navbar-logo-dark {
                        display: none !important;
                    }

                    header[class*="-light"] {
                        border-color: transparent;
                    }

                    .headroom--pinned {
                        background-color: transparent;
                    }

                    .header-light[class*="-not-top"] {
                        background-color: #fff;
                    }

                    .headroom--top .navbar-logo-light {
                        display: block !important;
                    }

                    .headroom--not-top .navbar-logo-light {
                        display: block !important;
                    }

                }

                @media (max-width: 1199.98px) {

                    .headroom--top .navbar-logo-light {
                        display: none !important;
                    }

                    header[class*="-light"] .navbar-logo-dark {
                        display: block !important;
                    }

                    .navbar-light .navbar-nav .nav-link {
                        color: #000;
                    }

                    .navbar-light .navbar-nav .nav-link:hover {
                        color: #000;
                        opacity: .5;
                    }

                    .navbar-light .navbar-nav .show > .nav-link {
                        color: #000;
                    }

                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/assets/images/favicon3.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/assets/images/favicon2.png') }}" />
    </head>
    <body>
        {% include 'default/header.html.twig' with {'selected_menu': 'homepage'} %}

        {% block fos_user_content %}{% endblock fos_user_content %}

        {% block javascripts %}
        <script src="{{ asset('bundles/app/assets/js/vendor.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>