{% extends "@FOSUser/base_fos_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}



    {% block form_errors %}
        {% spaceless %}
            {% if errors is defined and errors|length > 0 %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">{{ error.message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endblock form_errors %}




    <div class="viewport">
        <div class="image image-overlay" style="background-image:url({{ asset('bundles/app/assets/images/demo/image-2.jpg') }})"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-6 col-lg-5">
                    <div class="accordion-group accordion-group-portal" data-accordion-group>

                        <div class="accordion open" data-accordion>
                            <div class="accordion-control" data-control>
                                <h5>Recuperar Password</h5>
                            </div>
                            <div class="accordion-content" data-content>
                                <div class="accordion-content-wrapper">
                                    {#                                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form registration-form align-center fos_user_resetting_request">
                                    #}



                                    <p>
                                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                                    </p>



                                    <div class="form-group">
                                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                        <input type="text" id="username" class="form-control" name="username" required="required" />
                                    </div>

                                    {#<input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn">#}
                                    <input type="submit" class="btn btn-primary btn-block" value="Request">

                                    <hr/>
                                    <fieldset class="col-sm-12">
                                        Já estás registado? Então faz <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                        <br />
                                    </fieldset>

                                    {#</form>#}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}





