{#{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>#}
{% trans_default_domain 'FOSUserBundle' %}



{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li style="color: red;">{{ error.message }}</li>
                    {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}



<div class="preloader-mask">
    <div class="preloader"></div>
</div>

<section class="section bg-cover bg1_2019 window-height">

    <div class="container light-text align-center">
        <h3>{#<span class="highlight">Regista-te</span> Um mundo de oportunidades!#}</h3>
        {#<p class="text-alt">and get your tickets emailed to you within <span class="highlight">24 hours</span></p>#}
        <br/>
        <br/>
    </div>
    <div class="container">
        {#<form class="form registration-form align-center">#}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form registration-form align-center fos_user_resetting_request">
        <h5><span class="highlight">Recuperar Password</span></h5>

        <fieldset class="col-sm-12">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </fieldset>



        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn">

        <hr/>
        <fieldset class="col-sm-12">
            Já estás registado? Então faz <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

            <br />
        </fieldset>


       </form>



    </div>
</section>

